<div id='form'>
    <form id="form" action={{action}} method="post">
        <label for="zip_code">Zipcode:</label>
        <input required class="areaInput" placeholder="Enter your zipcode" type="text" name="zip_code">
        <button type="submit">Enter</button>
    </form>
</div>